<%- include("templates/head") %>
<body>
    <%- include("templates/menu") %>
    <header>
        <h1><%= titulo %></h1>
        <img src="<%= imagen1 %>" alt="">
    </header>
    <main>
        <div>
            <img src="<%= imagen2 %>" alt="">
            <h2><%= descripcion %></h2>
        </div>       
     
    <p>Hola nombre</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse est laudantium error deserunt ad ducimus incidunt quae eligendi asperiores nihil odit voluptas distinctio nulla rerum tempora, ipsum quisquam perferendis vitae fuga necessitatibus voluptatem aliquid porro ipsa! Rerum alias molestiae cupiditate repudiandae. In optio deleniti veritatis vel numquam quod aspernatur suscipit.</p>
    </main>
    
</body>
</html>